*
html {
    scroll-behavior: smooth;
}
 html {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


body {
    background-color: black;
}

nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

nav div img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: darkblue;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

nav ul li a:hover {
    color: orangered;
    border-bottom: 3px solid  orangered;
}
