*
, html {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Lexend';
  src: url('/fontExternal/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
    background-color: black;
}

nav{
    background-color: antiquewhite;
    display: flex;
    position: relative;
    padding: 0rem 3rem;
}

nav div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 6rem;
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

nav ul li a{
    text-decoration: none;
    font-family: 'Lexend';
    color: darkblue;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

nav ul li a:hover {
    color: orangered;
    border-bottom: 3px solid  orangered;
}

.nav-btn {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);

    padding: 10px 22px;
    border: none;
    border-radius: 999px; /* SUPER SMOOTH */
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;

    font-weight: 600;
    font-family: 'Lexend';
    letter-spacing: 0.5px;
    cursor: pointer;

    transition: all;
    transition-duration: 300ms;
}

/* HOVER SMOOTH */
.nav-btn:hover {
    background: orangered;
    box-shadow: 3 px solid white
}

/* CLICK EFFECT */
.nav-btn:active {
    transform: translateY(-50%) scale(0.95);
}



